<div class="flexbox margin-bottom">
  <button
    mat-raised-button
    color="accent"
    class="margin-right"
    (click)="step()"
  >
    STEP
  </button>
  <button
    mat-raised-button
    color="accent"
    class="margin-right"
    (click)="start()"
  >
    START
  </button>
  <button
    mat-raised-button
    color="accent"
    class="margin-right"
    (click)="pause()"
  >
    PAUSE
  </button>
  <button mat-raised-button color="accent" (click)="reset()">RESET</button>
</div>

<div class="flexbox">
  <div
    *ngFor="let _i of [].constructor(_height - 2); let i = index"
    class="flexbox wide"
  >
    <div
      *ngFor="let _j of [].constructor(_width - 2); let j = index"
      class="cell i{{ i + 1 }} j{{ j + 1 }}"
      (click)="toggle(i + 1, j + 1)"
      [ngClass]="{
        on: cells[i + 1][j + 1] === 1,
        border: !isStarted,
        onborder: cells[i + 1][j + 1] === 1 && isStarted,
        offborder: cells[i + 1][j + 1] === 0 && isStarted
      }"
    ></div>
  </div>
</div>
